html{
    font-size: 22px;
    height: 100vh;
    margin: 0;
}

body{
    display: flex;
    color: white;
    font-family: Arial, sans-serif;
    background-color: #35654d;
    min-height: 100vh;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.container{
    min-height: 100%;
    flex-basis: auto;
    flex-grow: 1;
    background: #212121;
    display: flex;
    justify-content: center;
    font-family: Roboto, sans-serif;
    color: white;
    flex-flow: column nowrap;
    place-items: stretch;
    gap: 5px;
}

.title-item{
    text-align: center;
}

.description-img-item{
    text-align: center;
}

.stat-item{
    flex-flow: row wrap;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background-color: #243EA8;
}

.game-status-item{
    text-align: center;
    background-color: #730068;
    flex-flow: row wrap;
    place-self: center;
    display: flex;
    padding: 10px;
    border-radius: 5px;
}

.player-wallet-item{
    text-align: center;
}

.enter-casino-item{
    text-align: center;
}

.player-bet-item{
    text-align: center;
}

.end-round-item{
    gap: 1rem;
    text-align: center;
}

.game-buttons-item{
    gap: 1rem;
    flex-flow: row wrap;
    place-self: stretch;
    justify-content: center;
    align-items: center;
}

#description-img{
    max-width: 50%;
    overflow:hidden
}

.cards{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 5%;
}

button {
     appearance: none;
     background-color: #FAFBFC;
     border: 1px solid rgba(27, 31, 35, 0.15);
     border-radius: 6px;
     box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
     box-sizing: border-box;
     color: #24292E;
     cursor: pointer;
     display: inline-block;
     font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
     font-size: 14px;
     font-weight: 500;
     line-height: 20px;
     list-style: none;
     padding: 6px 16px;
     position: relative;
     transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
     user-select: none;
     -webkit-user-select: none;
     touch-action: manipulation;
     vertical-align: middle;
     white-space: nowrap;
     word-wrap: break-word;
}

button:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
}

button:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
}

button:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
}

button:focus {
    outline: 1px transparent;
}

button:before {
    display: none;
}

input{
    outline: 0;
    padding: 6px 16px;
    margin: 4px 0;
    box-sizing: border-box;
    background-color: #212121;
    color: white;
    border: none;
    border-bottom: 2px solid grey;
}

input:focus{
    border-bottom: 2px solid #35654D;
}

.blackjack-table-item{
    z-index: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    max-height: 100%;
    height: 100%;
    overflow: hidden;
}

.blackjack-table{
    background: #35654D;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.player{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.dealer{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.game-buttons{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}

.player-score{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}

.dealer-score{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

.hidden{
    display: none;
}